*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 60px; 
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E2A38;
    color: white;
    padding: 15px 25px;
}

.navbar .Logo-header{
    font-size: 40px;
    font-family: 'poppins', sans-serif;
    color: white;
    font-weight: 650;
}
.navbar .Logo-header span{
    color: #009688;
}
.navbar .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar .nav-links li{
    font-size: 20px;
    padding: 0 30px;
}
.navbar .nav-links li a{
    color: white;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
}
/* hidden navbar items*/
#create-post-container, #logout-container {
    display: none; /* Removes them completely */
}

















.hamburger {
    display: none; /* Hide hamburger on larger screens */
}
/* navbar finished  */
/* login start */
.login-header{
    font-family: 'poppins', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    background-color: #1E2A38;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
footer ul{
    list-style: none;
    text-align: center;
}
footer ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
footer ul li a i{
    margin: 0 10px;
    
}
/* login/register form */
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
#register-form{
    display: flex;
    flex-direction: column;
    width: 30%; 
    border: 2px solid black; 
    padding: 20px; 
    border-radius: 5px; 
}
.form-container label{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 1rem;
}
.form-container input{
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #1E2A38;
    border-radius: 5px;
    font-size: 20px;
}
.form-container button{
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #1E2A38;
    border-radius: 5px;
    background-color: #009688;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.form-container button:hover{
    background-color: #00796B;
    
}
.form-container .have-acc{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#message-container {
    display: none;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
/* login styls */
#login-form{
    display: flex;
    flex-direction: column;
    width: 30%; 
    border: 2px solid black; 
    padding: 20px; 
    border-radius: 5px; 
}
/* blog feed  */
.blog-feed{
    height: 100vh;
}
/* create new post start  */
#create-post-form{
    display: flex;
    flex-direction: column;
    width: 50%; 
    border: 2px solid black; 
    padding: 20px; 
    border-radius: 5px; 
    margin: 0 auto;
}
#create-post-form label{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 1rem;
}
#create-post-form input{
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #1E2A38;
    border-radius: 5px;
    font-size: 20px;
}
#create-post-form textarea{
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #1E2A38;
    border-radius: 5px;
    font-size: 20px;
    resize: vertical;
    max-height: 365px;
    min-height: 150px;
}






/* media */
@media screen and (max-width: 1024px) {
    #register-form, #login-form {
        width: 50%; /* Increase width for tablets */
    }
}
@media screen and (max-width: 858px) {
    .navbar .nav-links{
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #1E2A38;
        text-align: center;
        padding: 25px 0;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    .navbar .nav-links.active{
        display: flex;
    }
    .navbar .nav-links li{
        margin-bottom: 15px;
    }
    .hamburger {
        display: block; 
        cursor: pointer;
        font-size: 30px;
        color: white;
    }
}

@media screen and (max-width: 768px) {
    #register-form, #login-form {
        width: 70%; 
    }
}

@media screen and (max-width: 480px) {
    #register-form, #login-form {
        width: 90%; /* Full width for small screens */
    }
    .login-header {
        font-size: 25px;
        margin-top: 10px; /* Reduce top margin */
        margin-bottom: 10px; /* Reduce bottom margin */
    }
    .navbar .Logo-header {
        font-size: 30px;
    }
    .form-container label {
        font-size: 16px; 
    }
    .form-container input, .form-container button {
        font-size: 16px; 
        padding: 10px; 
    }

    .form-container {
        padding: 10px; 
    }
    .form-container .have-acc{
        font-size: 16px;
    }
    footer{
        font-size: 12px;
    }
    footer ul li a{
        font-size: 14px;
    }
}