*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E2A38;
    color: white;
    padding: 15px 25px;
}
.navbar .Logo-header{
    font-size: 40px;
    font-family: 'poppins', sans-serif;
    color: white;
    font-weight: 650;
}
.navbar .Logo-header span{
    color: #009688;
}
.navbar .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
}
.navbar .nav-links li{
    font-size: 20px;
    padding: 0 30px;
}
.navbar .nav-links li a{
    color: white;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
}
/* navbar finished  */
/* login start */
.login-header{
    font-family: 'poppins', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
footer{
    background-color: #1E2A38;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
footer ul{
    list-style: none;
    text-align: center;
}
footer ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
footer ul li a i{
    margin: 0 10px;
    
}